$background-color-white-600: #f2f2f2;
$background-color-white-900: white;
$background-color-black-600: #262625;
$background-color-black-400: #777777;

$login-container-bg-white: white;

$text-color-black: #000000;

$button-color-dark-blue: #13262f;
$input-border-color: rgb(165, 165, 165);

$element-selected-color: rgb(231, 231, 231);
